@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

// ---- Sass Variables ----
// Primary Colors

// - Light red: hsl(0, 100%, 67%)
$light-red: hsl(0, 100%, 67%);
// - Orangey yellow: hsl(39, 100%, 56%)
$orange-yellow: hsl(39, 100%, 56%);
// - Green teal: hsl(166, 100%, 37%)
$green-teal: hsl(166, 100%, 37%);
// - Cobalt blue: hsl(234, 85%, 45%)
$cobalt-blue: hsl(234, 85%, 45%);

// Gradients

// - Light slate blue (background): hsl(252, 100%, 67%)
$light-slate-blue: hsl(252, 100%, 67%);
// - Light royal blue (background): hsl(241, 81%, 54%)
$light-royal-blue: hsl(241, 81%, 54%);

// - Violet blue (circle): hsla(256, 72%, 46%, 1)
$violet-blue: hsla(256, 72%, 46%, 1);
// - Persian blue (circle): hsla(241, 72%, 46%, 0)
$persian-blue: hsla(241, 72%, 46%, 0);



// Neutral Colors

// - White: hsl(0, 0%, 100%)
$white: hsl(0, 0%, 100%);
// - Pale blue: hsl(221, 100%, 96%)
$pale-blue: hsl(221, 100%, 96%);
// - Light lavender: hsl(241, 100%, 89%)
$light-lavender: hsl(241, 100%, 89%);
// - Dark gray blue: hsl(224, 30%, 27%)
$dark-gray-blue: hsl(224, 30%, 27%);
// - black: rgba(0, 0, 0, 1)
$black: rgba(0, 0, 0, 1);

// - Font size (paragraphs): 18px
$default-font-size: 18px;

// - Mixins
@mixin vertical-gradient-bg($first, $second) {
    background: linear-gradient(180deg, $first, $second);
}

@mixin d-flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    container-type: inline-size;
}

p {
    color: $light-lavender;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    background: $persian-blue;
}


.card-results {
    @include d-flex-center();
    @include vertical-gradient-bg($light-slate-blue, $light-royal-blue);
    flex-direction: column;
    // padding-bottom: 2.25rem;
    border-radius: 0 0 2rem 2rem;

    h2 {
        color: $light-lavender;
        text-align: center;
        padding: 2rem 0;
    }

    .circle {
        @include d-flex-center();
        @include vertical-gradient-bg($violet-blue, $persian-blue);
        flex-direction: column;
        border-radius: 50%;
        width: 150px;
        height: 150px;

        & > p:first-child {
            font-size: $default-font-size + 40px;
            font-weight: 800;
            color: $white;
        }

        & > p:last-child {
            color: $light-lavender;
        }
    }

    .result-details {
        @include d-flex-center();
        flex-direction: column;
        color: $light-lavender;

        & > p:first-child {
            font-size: $default-font-size + 3px;
            font-weight: 700;
            color: $white;
            padding: 1.25rem 0 0.75rem 0;
        }

        & > p:last-child {
            text-align: center;
            padding: 0 4rem 2rem 4rem;
        }
    }
}

.card-summary {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;

    h2 {
        padding: 1.5rem 0 1rem 0;
    }

    .summary-result {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        font-weight: 700;
        margin: 0.5rem 0;
        border-radius: 0.75rem;

        p {
            color: $black;
        }

        span {
            color: lighten($black, 45%);
        }

        img {
            padding-right: 0.75rem;
        }

        &#reaction {
            background: lighten($light-red, 30%);
            color: $light-red;
        }

        &#memory {
            background: lighten($orange-yellow, 40%);
            color: $orange-yellow;
        }

        &#verbal {
            background: lighten($green-teal, 60%);
            color: $green-teal;
        }

        &#visual {
            background: lighten($violet-blue, 51%);
            color: $violet-blue;
        }
    }

    ul {
        display: flex;
        list-style: none;
    }
}

a {
    color: $black;
    text-decoration: none;
    transition: 250ms ease-in-out;

    &:hover {
        color: $violet-blue;
    }
}

button {
    padding: 1rem;
    margin: 1rem 0;
    font-size: $default-font-size;
    font-weight: 700;
    background: $dark-gray-blue;
    color: $white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;

    &:hover {
        @include vertical-gradient-bg($light-slate-blue, $light-royal-blue);
    }
}

@container (width > 50rem) {
    
    .card {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 50%);
        grid-template-columns: repeat(2, 1fr);
        width: 45%;
        border-radius: 2rem;
        box-shadow: lighten($black, 80%) 0px 2px 8px 0px;
        .card-results {
            height: 100%;
            border-radius: 2rem;
            margin-right: $default-font-size;

            .circle {
                width: 175px;
                height: 175px;
            }
        }

        .result-details {
            margin: 1.75rem 0;

            & > p:first-child {
                font-size: $default-font-size + 10px;
            }

            & > p:last-child {
                font-size: $default-font-size;
            }
        }

        .card-summary {
            padding: 0.5rem;
        }
    }

    button {
        margin: 1.75rem 0 2.25rem 0;
    }
}