@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap");

// Colors - Primary

// Nutmeg: hsl(14, 45%, 36%)
$nutmeg: hsl(14, 45%, 36%);

// Dark Raspberry: hsl(332, 51%, 32%)
$dark-raspberry: hsl(332, 51%, 32%);

// Color - Neutral

// White: hsl(0, 0%, 100%)
$white: hsl(0, 0%, 100%);

// Rose White: hsl(330, 100%, 98%)
$rose-white: hsl(330, 100%, 98%);

// Eggshell: hsl(30, 54%, 90%)
$eggshell: hsl(30, 54%, 90%);

// Light Grey: hsl(30, 18%, 87%)
$light-grey: hsl(30, 18%, 87%);

// Wenge Brown: hsl(30, 10%, 34%)
$wenge-brown: hsl(30, 10%, 34%);

// Dark Charcoal: hsl(24, 5%, 18%)
$dark-charcoal: hsl(24, 5%, 18%);

$light-charcoal: lighten($dark-charcoal, 20%);

$line-color: lighten($light-charcoal, 50%);

// Typography

// Body Copy

// Font size (paragraph): 16px
$default-font-size: 16px;

// Fonts

// Family: [Young Serif](https://fonts.google.com/specimen/Young+Serif)
$font-family-primary: "Outfit", sans-serif;

// Family: [Outfit](https://fonts.google.com/specimen/Outfit)
$font-family-secondary: "Young Serif", serif;

// Weights: 400, 600, 700
$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-700: 700;

@mixin heading-styling($text-color, $padding-bottom: 0) {
  h1 {
    padding-bottom: $padding-bottom;
    line-height: 2.5rem;
    font-family: $font-family-secondary;
    font-size: $default-font-size * 2.5;
    font-weight: $font-weight-400;
    color: $text-color;
  }
}

@mixin list-styling($list-color, $top, $right, $bottom, $left, $item-left) {
  ul {
    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
    font-size: $default-font-size + 2px;
    padding: $top $right $bottom $left;

    li {
      padding-left: $item-left;

      &::marker {
        font-size: $default-font-size;
        color: $list-color;
      }
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family-primary;
  color: lighten($dark-charcoal, 20%);
}

main {
  margin: 0 auto;
}

img {
  width: 100%;
  object-fit: cover;
}

span {
  font-weight: $font-weight-700;
}

hr {
  border: 1px solid $light-grey;
  margin: 35px 0;
}

.card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $white;

  .card-body {
    padding: 45px;

    .card-header {
      @include heading-styling($dark-charcoal, 25px);

      p {
        line-height: 1.75rem;
        padding-bottom: 40px;
        font-size: $default-font-size + 3px;
      }
    }

    .preparation {
      border-radius: 1rem;
      //   padding: 25px 50px;
      background: $rose-white;
      line-height: 2rem;

      h3 {
        padding: 20px 30px 10px 30px;
        font-size: $default-font-size * 1.5;
        font-weight: $font-weight-600;
        color: $dark-raspberry;
      }

      @include list-styling($dark-raspberry, 0, 20px, 15px, 55px, 15px);
    }

    .ingredients {
      padding-top: 40px;
      line-height: 2.25rem;
      @include heading-styling($nutmeg, 30px);
      @include list-styling($nutmeg, 0, 0, 0, 25px, 15px);
    }

    .instructions {
      @include heading-styling($nutmeg, 30px);

      ol {
        font-size: $default-font-size + 2px;
        line-height: 1.6rem;

        li {
          padding: 0 0 10px 25px;
          margin-left: 25px;
        }

        li::marker {
          font-weight: $font-weight-700;
          color: $nutmeg;
        }
      }
    }

    .nutrition {
      @include heading-styling($nutmeg, 25px);

      p {
        font-size: $default-font-size + 3px;
      }

      table {
        border-collapse: collapse;
        padding-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $default-font-size * 1.25;

        tr {
          border-bottom: 1px solid $light-grey;

          &:last-child {
            border-bottom: none;
          }

          td {
            padding: 15px 50px;

            &:nth-child(2n) {
              font-weight: $font-weight-700;
              color: $nutmeg;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  body {
    background: $eggshell;
    padding: 45px;
  }

  .card {
    padding: 25px;
    width: 50%;
    margin: 0 auto;
    border-radius: 1rem;
    overflow: hidden;

    img {
      border-radius: 0.75rem;
    }
  }
}
