@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background: hsl(226, 43%, 10%);
  color: white;
}

p {
  font-size: 18px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  background: transparent;
  border: none;
  font-size: 18px;
  color: hsl(236, 100%, 87%);
  transition: 200ms all ease-in;
  cursor: pointer;
}
button:hover {
  color: white;
}
button.active {
  color: white;
}

.grid-container {
  display: grid;
  grid-template-areas: "user work play study" "user exercise social self-care";
  gap: 2rem;
}
.grid-container .grid-item {
  width: 275px;
  height: auto;
}

.user {
  grid-area: user;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 1rem;
  background-color: hsl(235, 46%, 20%);
}
.user img {
  height: auto;
  width: 75px;
  border: 3px solid white;
  border-radius: 50%;
  margin-bottom: 50px;
}
.user .user-section {
  display: flex;
  flex-direction: column;
  padding: 25px 25px 75px 25px;
  border-radius: 1rem;
  background-color: rgb(88, 71, 235);
}

.faded-font {
  color: hsl(236, 100%, 87%);
}

.heading {
  font-size: 36px;
  font-weight: 300;
}

.heading-secondary {
  font-size: 54px;
  font-weight: 300;
}

.detail-section {
  padding: 25px;
}

.card-section {
  background-color: hsl(235, 46%, 20%);
  padding: 25px;
  height: 80%;
  border-radius: 1rem;
  margin-top: auto;
}
.card-section .card-top-section {
  font-weight: 500;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.card-section .card-bottom-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.work {
  grid-area: work;
  background-color: hsl(15, 100%, 70%);
  background-image: url("../images/icon-work.svg");
  background-repeat: no-repeat;
  background-position: right 20px top;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 1rem;
}

.play {
  grid-area: play;
  background-color: hsl(195, 74%, 62%);
  background-image: url("../images/icon-play.svg");
  background-repeat: no-repeat;
  background-position: right 20px top;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 1rem;
}

.study {
  grid-area: study;
  background-color: hsl(348, 100%, 68%);
  background-image: url("../images/icon-study.svg");
  background-repeat: no-repeat;
  background-position: right 20px top;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 1rem;
}

.exercise {
  grid-area: exercise;
  background-color: hsl(145, 58%, 55%);
  background-image: url("../images/icon-exercise.svg");
  background-repeat: no-repeat;
  background-position: right 20px top;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 1rem;
}

.social {
  grid-area: social;
  background-color: hsl(264, 64%, 52%);
  background-image: url("../images/icon-social.svg");
  background-repeat: no-repeat;
  background-position: right 20px top;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 1rem;
}

.self-care {
  grid-area: self-care;
  background-color: hsl(43, 84%, 65%);
  background-image: url("../images/icon-self-care.svg");
  background-repeat: no-repeat;
  background-position: right 20px top;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 1rem;
}/*# sourceMappingURL=style.css.map */