@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
// Layout

// The designs were created to the following widths:

// Mobile: 375px
$mobile-breakpoint: 375px;

// Desktop: 1440px
$desktop-breakpoint: 1440px;

// Colors - Primary

// Blue: hsl(246, 80%, 60%)
$blue: rgb(88, 71, 235);

// Light red (work): hsl(15, 100%, 70%)
$work: hsl(15, 100%, 70%);

// Soft blue (play): hsl(195, 74%, 62%)
$play: hsl(195, 74%, 62%);

// Light red (study): hsl(348, 100%, 68%)
$study: hsl(348, 100%, 68%);

// Lime green (exercise): hsl(145, 58%, 55%)
$exercise: hsl(145, 58%, 55%);

// Violet (social): hsl(264, 64%, 52%)
$social: hsl(264, 64%, 52%);

// Soft orange (self care): hsl(43, 84%, 65%)
$self-care: hsl(43, 84%, 65%);

// Colors - Neutral

// Very dark blue: hsl(226, 43%, 10%)
$darker-blue: hsl(226, 43%, 10%);

// Dark blue: hsl(235, 46%, 20%)
$dark-blue: hsl(235, 46%, 20%);

// Desaturated blue: hsl(235, 45%, 61%)
$desaturated-blue: hsl(235, 45%, 61%);

// Pale Blue: hsl(236, 100%, 87%)
$pale-blue: hsl(236, 100%, 87%);

// White
$white: lighten($pale-blue, 15%);

// Body Copy

// Font size: 18px (card titles e.g. Work, Play)
$default-font-size: 18px;

// Font Family: [Rubik](https://fonts.google.com/specimen/Rubik)
$font-family: "Rubik", sans-serif;

// Font Weights: 300, 400, 500
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $darker-blue;
  color: $white;
}

.grid-container {
  display: grid;
  grid-template-areas: 
  "user work play study"
  "user exercise social self-care";
  gap: 1.25rem;
}

.user {
  grid-area: user;
  background-color: $blue;
}

.work {
  grid-area: work;
  background-color: $work;
}

.play {
  grid-area: play;
  background-color: $play;
}

.study {
  grid-area: study;
  background-color: $study;
}

.exercise {
  grid-area: exercise;
  background-color: $exercise;
}

.social {
  grid-area: social;
  background-color: $social;
}

.self-care {
  grid-area: self-care;
  background-color: $self-care;
}


// Play 1hr
//         <!-- daily -->
//         Previous - 2hrs
//         <!-- daily -->
//         10hrs
//         <!-- weekly -->
//         Previous - 8hrs
//         <!-- weekly -->
//         23hrs
//         <!-- monthly -->
//         Previous - 29hrs
//         <!-- monthly -->

//         Study 0hrs
//         <!-- daily -->
//         Previous - 1hr
//         <!-- daily -->
//         4hrs
//         <!-- weekly -->
//         Previous - 7hrs
//         <!-- weekly -->
//         13hrs
//         <!-- monthly -->
//         Previous - 19hrs
//         <!-- monthly -->

//         Exercise 1hr
//         <!-- daily -->
//         Previous - 1hr
//         <!-- daily -->
//         4hrs
//         <!-- weekly -->
//         Previous - 5hrs
//         <!-- weekly -->
//         11hrs
//         <!-- monthly -->
//         Previous - 18hrs
//         <!-- monthly -->

//         Social 1hr
//         <!-- daily -->
//         Previous - 3hrs
//         <!-- daily -->
//         5hrs
//         <!-- weekly -->
//         Previous - 10hrs
//         <!-- weekly -->
//         21hrs
//         <!-- monthly -->
//         Previous - 23hrs
//         <!-- monthly -->

//         Self Care 0hrs
//         <!-- daily -->
//         Previous - 1hr
//         <!-- daily -->
//         2hrs
//         <!-- weekly -->
//         Previous - 2hrs
//         <!-- weekly -->
//         7hrs
//         <!-- monthly -->
//         Previous - 11hrs
//         <!-- monthly -->