@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// Front-end Style Guide

// Layout

// The designs were created to the following widths:

// Mobile: 375px
// Desktop: 1440px

// Color - Primary
// Red: hsl(0, 100%, 74%) 
$red: rgb(255, 122, 122);

// Green: hsl(154, 59%, 51%)
$green: rgb(56, 204, 140);

// Color - Accent
// Blue: hsl(248, 32%, 49%)
$blue: rgb(96, 85, 165);

// Color - Neutral
// Dark Blue: hsl(249, 10%, 26%) 
$dark: rgb(62, 60, 73);

// Grayish Blue: hsl(246, 25%, 77%)
$grayish-blue: hsl(246, 25%, 77%);

// White
$white: lighten($grayish-blue, 100%);

// Typography

// Body Copy

// Font size: 16px
$default-font-size: 16px;

// Font

// Family: [Poppins](https://fonts.google.com/specimen/Poppins)
$font-family: 'Poppins', sans-serif;

// Weights: 400, 500, 600, 700
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

// @include d-flex-group($justify-content, $align-items) {

// }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

body {
    background-image: url('./images/bg-intro-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $red;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 85%;
    margin: 0 auto;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $white;

    &.col-about {
        line-height: 1.75rem;

        h1 {
            font-size: $default-font-size + 25px;
            text-align: center;
            line-height: 3rem;
        }
    }
}

