@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.web-image-mobile {
  display: none;
}

a {
  text-decoration: none;
  color: hsl(236, 13%, 42%);
  transition: 250ms all ease-in-out;
}
a:hover {
  color: hsl(5, 85%, 63%);
}

body {
  width: 80%;
  margin: 75px auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 45px 0;
}
header .nav-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 45px;
  list-style: none;
}
header .hamburger-menu,
header .close-menu {
  display: none;
  cursor: pointer;
}

.main-section {
  display: grid;
  gap: 37.5px;
  grid-template-areas: "main main new-articles" "heading description new-articles" "article-one article-two article-three";
}
.main-section .web-image-desktop {
  grid-area: main;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background: url("../assets/images/image-web-3-desktop.jpg");
}
.main-section .main-heading {
  grid-area: heading;
  font-size: 3rem;
  font-weight: 800;
  padding-right: 5.5rem;
}
.main-section .main-description {
  grid-area: description;
  color: hsl(236, 13%, 42%);
  line-height: 1.75rem;
}
.main-section .main-description p {
  margin-bottom: 30px;
}
.main-section .main-description a {
  background: hsl(5, 85%, 63%);
  border: none;
  color: hsl(36, 100%, 99%);
  padding: 16px 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  transition: 250ms all ease-in-out;
}
.main-section .main-description a:hover {
  background: hsl(240, 100%, 5%);
}
.main-section .new-articles {
  grid-area: new-articles;
  background: hsl(240, 100%, 5%);
  padding: 2rem 1.5rem;
}
.main-section .new-articles .new-heading {
  color: hsl(35, 77%, 62%);
  font-size: 45px;
  font-weight: 700;
}
.main-section .new-articles .new-article {
  line-height: 2rem;
  color: hsl(36, 100%, 99%);
  padding: 2rem 0;
  border-bottom: 1px solid hsl(236, 13%, 42%);
}
.main-section .new-articles .new-article:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.main-section .new-articles .new-article .article-title {
  color: hsl(36, 100%, 99%);
  font-size: 26.25px;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 250ms all ease-in-out;
}
.main-section .new-articles .new-article .article-title:hover {
  color: hsl(35, 77%, 62%);
}
.main-section .new-articles .new-article .article-description {
  color: hsl(233, 8%, 79%);
  font-size: 18px;
}
.main-section .top-article {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.main-section .top-article img {
  padding-right: 2rem;
  height: 138.75px;
}
.main-section .top-article .article-body {
  line-height: 2rem;
  color: hsl(236, 13%, 42%);
}
.main-section .top-article .article-body .article-number {
  font-size: 45px;
  font-weight: 700;
  color: hsl(233, 8%, 79%);
  padding-bottom: 0.75rem;
}
.main-section .top-article .article-body .article-title {
  font-size: 19.5px;
  font-weight: 700;
  color: hsl(240, 100%, 5%);
}
.main-section .top-article .article-body .article-title:hover {
  color: hsl(5, 85%, 63%);
}
.main-section .article-one {
  grid-area: article-one;
}
.main-section .article-two {
  grid-area: article-two;
}
.main-section .article-three {
  grid-area: article-three;
}

@media screen and (max-width: 800px) {
  body {
    width: 90%;
    margin: 30px auto;
  }
  header {
    margin: 0 0 30px 0;
  }
  .main-section {
    grid-template-columns: 1fr;
    grid-template-areas: "main" "heading" "description" "new-articles" "article-one" "article-two" "article-three";
  }
  .main-section .top-article {
    justify-content: center;
  }
  .main-section .web-image-desktop {
    display: none;
  }
  .main-section .web-image-mobile {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
  }
}
@media screen and (max-width: 600px) {
  body {
    width: 90%;
    margin: 30px auto;
    background: #9c9eab;
    z-index: -99;
  }
  header {
    margin: 0 0 30px 0;
  }
  header .nav-list {
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    background: hsl(36, 100%, 99%);
    width: 100%;
    height: 100%;
    bottom: 0;
    right: -30%;
    padding: 150px 0 0 25px;
    gap: 25px;
    transition: 250ms all ease-in-out;
    z-index: 99;
  }
  header .nav-list .nav-item a {
    color: hsl(240, 100%, 5%);
  }
  header .hamburger-menu {
    display: block;
  }
  header .close-menu {
    display: block;
    z-index: 99;
  }
  .main-section {
    grid-template-columns: 1fr;
    grid-template-areas: "main" "heading" "description" "new-articles" "article-one" "article-two" "article-three";
  }
  .main-section .web-image-desktop {
    display: none;
  }
  .main-section .web-image-mobile {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */