// # Front-end Style Guide
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/*
* global variables and mixins
*/

// Primary Colors
$soft-blue: rgb(140, 172, 217);
$cyan: hsl(178, 100%, 50%);

// Neutral Colors
$dark-blue-main-bg: hsl(217, 54%, 11%);
$dark-blue-card-bg: hsl(216, 50%, 16%);
$dark-blue-line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

// font size
$default-font-size: 18px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: $dark-blue-main-bg;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 85%;
    margin: 0 auto;
}

a {
    color: $white;
    font-weight: 500;
    text-decoration: none;
    transition: 250ms ease-in-out;

    &:hover {
        color: $cyan;
    }
}

img {
    border-radius: 0.75rem;
}

.card {
    background-color: $dark-blue-card-bg;
    width: 400px;
    padding: 25px;
    border-radius: 0.75rem;
    color: $white;

    p {
        color: $soft-blue;
        font-weight: 600;
        line-height: 1.75rem;
        font-size: 1.1rem;
    }

    .card-header {
        line-height: 4.5rem;
        font-weight: 600;
        font-size: 1.6rem;
    }

    .description {
        font-size: 1.2rem;
        font-weight: 300;
    }

    .card-details {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.1rem 0;
        border-bottom: 0.05rem solid $dark-blue-line;

        .price {
            color: $cyan;
            font-weight: 600;
            text-align: center;
            margin: 0 130px 0 10px;
        }

        .duration {
            margin-left: 10px;
            font-weight: 500;
        }
    }

    .creator {
        display: flex;
        align-items: center;
        padding-top: 1rem;
        font-size: 1.1rem;
        font-weight: 500;

        img {
            width: 40px;
            height: auto;
            margin-right: 20px;
            border: 2px solid $white;
            border-radius: 50%;
        }
    }
}